.menu_page-small {
  width: 100%;
}

.right_close-btn {
  left: 1;
}

.left_close-btn {
  left: 21rem;
}

.landing_page-foreground h1,
.landing_page-foreground h2 {
  font-size: 20px;
}

#logo-text {
  font-size: 20px;
  letter-spacing: initial;
}

.about_app img {
  height: 360px;
  width: 360px;
}

.feedback_form {
  width: auto;
}

.form_section-h2 {
  margin-bottom: 2rem;
  font-size: 25px;
}

.landing_page {
  background-size: auto;
}
